.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    @apply bg-primary-yellow;
    @apply font-sans font-extrabold;
}

.main .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 5rem;
    margin-left: 0rem;
    margin-top: -5rem;
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    @apply bg-primary-yellow;
    @apply font-sans font-extrabold;
    position: relative;
}

.canvasContainer {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    pointer-events: none;
}

.chart .canvas {
    width: 100%; /* Or a fixed width if you prefer */
    height: 600px; /* Set a fixed height for the canvas */
    max-width: 600px; /* Optional: Set a maximum width */
    max-height: 600px;
    margin: 0 auto; /* Optional: Center the canvas */
}

.customDropdown {
    @apply bg-primary-yellow;
    color: black;
}

.customDropdown option {
    @apply font-sans font-extrabold;
}

.main h1 {
    display: inline-block;
    @apply font-sans font-extrabold;
    color: black;
    text-align: center;
}

.chart h1 {
    display: inline-block;
    @apply font-sans font-extrabold;
    color: black;
    text-align: center;
}

.main h2 {
    margin-bottom: 1rem;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.nav a,
.logout {
    position: relative;
    color: black;
    text-decoration: none;
    @apply font-sans font-extrabold;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logout {
    cursor: pointer;
}

.nav a::after,
.nav .logout::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease-out;
}

.nav a:hover::after,
.nav .logout:hover::after {
    width: 100%;
}

.nav a.active::after,
.nav .logout.active::after {
    width: 100%;
}

.description {
    text-align: center;
    max-width: var(--max-width);
    width: 70%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description a {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    margin-top: 4rem;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
}

.customtextbox {
    @apply bg-primary-yellow;
    @apply text-black;
    padding: 0.1rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    max-width: fit-content;
}

.customtextbox:focus {
    outline: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.form label {
    @apply text-primary-yellow;
    display: flex;
    flex-direction: column;
}

.form input,
.form select {
    @apply bg-primary-yellow;
    @apply text-black;

    padding: 0.1rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    max-width: fit-content;
}

.form input {
    appearance: none;
}

.form input:focus,
.form select:focus {
    outline: none;
}

.form select:hover {
    cursor: pointer;
}

.form option {
    @apply font-sans font-extrabold;
}

.form button {
    @apply bg-primary-yellow;
    @apply text-black;
    @apply font-sans font-extrabold;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    max-width: fit-content;
    align-self: center;
    margin-top: 1rem;
}

.addCategoryButton {
    @apply bg-primary-yellow;
    @apply text-black;
    @apply font-sans font-extrabold;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    max-width: fit-content;
    align-self: center;
    margin-top: 1rem;
}

.form button:hover {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease-in-out;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    @apply text-primary-yellow;
}

.login h6 {
    @apply text-primary-yellow;
    @apply font-sans font-extrabold;
    text-align: center;
}

.login h1 {
    @apply text-primary-yellow;
    @apply font-sans font-extrabold;
    text-align: center;
}

.login label {
    @apply text-primary-yellow;
    display: flex;
    flex-direction: column;
}

.login input {
    @apply bg-primary-yellow;
    @apply text-black;

    padding: 0.1rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    max-width: 100%;
}

.login input:focus {
    outline: none;
}

.login button {
    @apply bg-primary-yellow;
    @apply text-black;
    @apply font-sans font-extrabold;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login form button:hover {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Dark transparent filter */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other elements */
}

/* Centered alert box */
.logoutAlert {
    @apply bg-primary-yellow; /* Alert box background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    text-align: center;
    color: black;
    z-index: 1010; /* Higher than the overlay */
    width: 300px; /* Adjust width as needed */
    max-width: 90%; /* Prevent overflow on small screens */
    display: flex;
    flex-direction: column;
}

.addPaymentPopup {
    @apply bg-primary-yellow; /* Alert box background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 1010; /* Higher than the overlay */
    width: 300px; /* Adjust width as needed */
    max-width: 90%; /* Prevent overflow on small screens */
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoutAlert button {
    margin: 1rem;
    background-color: black;
    border-radius: 10px;
    @apply text-primary-yellow;
}

.logoutAlert .confirm:hover {
    background-color: red;
    transition: background-color 0.1s ease-in-out;
}

.logoutAlert .cancel:hover {
    background-color: rgb(70, 70, 70);
    transition: background-color 0.1s ease-in-out;
}

.addPaymentPopup button {
    margin: 1rem;
    background-color: black;
    border-radius: 10px;
    @apply text-primary-yellow;
}

.addPaymentPopup .confirm:hover {
    background-color: red;
    transition: background-color 0.1s ease-in-out;
}

.addPaymentPopup .cancel:hover {
    background-color: rgb(70, 70, 70);
    transition: background-color 0.1s ease-in-out;
}
.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table th {
    @apply text-primary-yellow;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: black;
}
.table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
